.clouds {
	position: fixed;
	height: auto;
	animation: moving 3s ease-in-out 0s infinite;
	user-select: none;
}

.cloud1 {
	width: 45vw;
	top: 53vh;
	left: 25vw;
}

.cloud2 {
	width: 21vw;
	top: 44vh;
	left: 5vw;
}

.cloud3 {
	width: 24vw;
	top: 46vh;
	left: 61vw;
}

@keyframes moving {
  0% {
		transform: translateY(0);
  }

	50% {
		transform: translateY(2%);
	}

  100% {
		transform: translateY(0);
  }
}