@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=Playfair+Display:wght@400;500&family=Roboto:wght@300&display=swap");
$normal: hsl(27, 42%, 55%);

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Montserrat";
  font-weight: 200;
  font-size: 1.5rem;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../assets/img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.formContainer {
  position: relative;
  max-width: 500px;
  padding: 2rem;
  text-align: center;
  background-color: white;
  border-radius: 0.1em;
  box-shadow: 0px 18px 27px -1px rgba(0, 0, 0, 0.2);

  h2 {
    margin-top: 2em;
    font-weight: 200;
    font-size: 1em;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  p {
    font-size: 0.6em;
  }

  button {
    font-family: inherit;
    font-size: 0.65em;
  }
}

.backBtn {
  position: absolute !important;
  top: 2rem;
  left: 2rem;
  font-size: 0.65em;
}

.form {
  div {
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1em;
  }

  button {
    margin-top: 4rem;
    font-size: 0.65em;
  }
}

.helperText {
  margin: 0;
  position: absolute;
  color: red;
  text-align: left;
  white-space: break-spaces;
}

.uploadBtn {
  margin: 0 auto;
  img {
    display: block;
    margin: 0.5em auto 0;
  }
  span {
    font-family: "Montserrat";
    font-size: 0.8em;
  }
}

@media (max-width: 400px) {
  .wrapper {
    font-size: 14px;
  }
}
